.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-card {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  height: 100%;
}

.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  gap: 16px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
