table {
  width: 100%;
  margin-top: 10px;
}

mat-card {
  padding: 10px;
}

.task-layout {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-pane, .right-pane {
  flex: 1;
  min-width: 300px;
}

